* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #7b0000, #b22222);
    color: white;
}

/* HEADER */
header {
    background-color: black;
    padding: 25px;
    text-align: center;
}

header h1 {
    color: gold;
}

/* NAV */
nav {
    background-color: #111;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    color: gold;
}

/* SECCIONES */
section {
    margin: 30px;
    padding: 30px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 12px;
}

h2 {
    color: gold;
    margin-bottom: 20px;
}

/* TARJETAS CATEGORIAS */
.card {
    background-color: #1c1c1c;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    background-color: gold;
    color: black;
    font-weight: bold;
}

/* FORMULARIO */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

select, input {
    padding: 10px;
    border-radius: 6px;
    border: none;
}

button {
    padding: 12px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

/* FOOTER */
footer {
    background-color: black;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}